// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: helvetica;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: #558eff;
  padding: 10px;
  border-radius: 5px;
  font-family: helvetica;
  font-weight: bold;
}

.btn:hover {
  background-color: #4d7cff;
}

.tasks {
  text-decoration: none;
  font-family: helvetica;
  color: #558eff;
}

.tasks:hover {
  color:#4d7cff;
}

.fas {
  color: #558eff;
}

.fas:hover {
  color: #4d7cff ;
}

li {
  list-style-type: none;
}

.description {
  font-size: 30px;
  font-family: helvetica;
}
